# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
venv/
.env
__pycache__/
*.pyc
*.pyo